.product img {
    width: 25rem;
    height: 30rem;
  }
  .products {
    margin: 2rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    border: 1px #000000 solid;
  }
  .product-info {
    padding: 1rem;
  }
  .product-info a {
    text-decoration: none;
    color: #000000;
  }