.product img {
    width:300px;
    height:300px;
  }
  .products {
    margin: 2rem;
    gap: 5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    width:300px;
    height:300px;
    border: 1px #000000 solid;
  }
  .product-info {
    padding: 1rem;
  }
  .product-info a {
    text-decoration: none;
    color: #000000;
  }
